/*login-page css*/

.BackGround_img{
    background-image: url(BackGround.jpg);
    background-size: 100%;
}

#mainthead th:first-child,
#maintbody td:first-child {
  width: 2em;
}
#mainthead th:nth-child(2),
#maintbody td:nth-child(2) {
     width: 25em;
}

#mainthead th:nth-child(4),
#maintbody td:nth-child(4) {
     width: 6em;
}
#mainthead th:nth-child(5),
#maintbody td:nth-child(5) {
    width: 6em;
}
#mainthead th:nth-child(6),
#maintbody td:nth-child(6) {
     width: 6em;
}